<form action="/language" method="POST" role="form">
<legend>Language preference</legend>
  <select name="language" onchange="this.form.submit()">
    <option value="" selected="selected" hidden="hidden">{{current}}</option>
    <option value="en">English</option>
    <option value="fr">French</option>
  </select>
</form>


{{#if alertSuccess}}
<div class="alert alert-success" role="alert">
  {{alertMessage}}
</div>
{{/if}}

{{#if alertAlreadyLogged}}
<div class="alert alert-primary" role="alert">
  {{alertMessage}}
</div>
{{/if}}
<div class="hero-image">
  <div class="hero-text">
    <h1>CinemaWare</h1>
    <p>{{description}}</p>
    <form action="/products" method="get">
      <input type="submit" class="btn btn-dark" id="shop-now" value={{shop}}>
    </form>
  </div>
</div>
<div class="row">
  <h2 id="featured-items">{{featItems}}</h2>
  <p></p>
  <div class="col-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://www.w3schools.com/css/paris.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-dark">add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://www.w3schools.com/css/paris.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-dark">add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://www.w3schools.com/css/paris.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-dark">add to cart</a>
      </div>
    </div>
  </div>
</div>