{{#if alertSuccess}}
<div class="alert alert-success" role="alert">
  {{alertMessage}}
</div>
{{/if}}

{{#if alertAlreadyLogged}}
<div class="alert alert-primary" role="alert">
  {{alertMessage}}
</div>
{{/if}}
<div class="hero-image">
  <div class="hero-text">
    <h1>CinemaWare</h1>
    <p>shop our newest cameras and more</p>
    <form action="/products" method="get">
      <input type="submit" class="btn btn-dark" id="shop-now" value="shop now">
    </form>
  </div>
</div>
<!-- mdbootstrap builder helped with these cards but grid/flexbox kinda tough to do -->
<div class="row">
    <!-- Start your project here-->

  <div id="preview" class="preview"><div style="display: none;"></div><div><div style="position: relative;" data-draggable="true" class="" draggable="false"><!----><!----><section draggable="false" class="container pt-5" data-v-271253ee=""><section class="mb-10 text-center"> <h2 class="fw-bold mb-7 text-center">Current Promotions</h2><div> spacer </div> <div class="row gx-lg-5"> <div class="col-lg-4 col-md-12 mb-6 mb-lg-0"> <div class="card shadow-2-strong"> <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3 ripple-surface-light" data-mdb-ripple-color="light" style="margin-top: -15px;"> <img src="https://images.unsplash.com/photo-1607462109225-6b64ae2dd3cb?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5NjI0M3wwfDF8c2VhcmNofDh8fGNhbWVyYXxlbnwwfHx8fDE2NTMwMDczMzA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080" class="img-fluid" alt="" aria-controls="#picker-editor" draggable="false" style="overflow: hidden; border-radius: 1rem;"> </div> <div class="card-body"> <h5 class="card-title">Capture your Memories<br></h5> <p class="card-text">"Photos allow us to record life's greatest moments, so they can stay in our memories forever." - Keo Tsang<br></p> <a href="https://www.youtube.com/c/KeoTsang" class="btn btn-outline-black btn-rounded" aria-controls="#picker-editor" draggable="false" style="min-width: auto;">Visit Keo Tsang</a> </div> </div> </div> <div class="col-lg-4 mb-6 mb-lg-0"> <div class="card shadow-2-strong"> <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3 ripple-surface-light" data-mdb-ripple-color="light" style="margin-top: -15px;"> <img src="https://images.unsplash.com/photo-1516035069371-29a1b244cc32?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5NjI0M3wwfDF8c2VhcmNofDF8fGNhbWVyYXxlbnwwfHx8fDE2NTMwMDczMzA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080" class="img-fluid" alt="" aria-controls="#picker-editor" draggable="false" style="overflow: hidden; border-radius: 1rem;"> </div> <div class="card-body"> <h5 class="card-title">Premium Camera Hardware<br></h5> <p class="card-text">Get the latest cameras, lenses and more from us.<br></p> <a href="/products" class="btn btn-outline-black btn-rounded" aria-controls="#picker-editor" draggable="false" style="min-width: auto;">Shop Now</a> </div> </div> </div> <div class="col-lg-4 mb-6 mb-lg-0"> <div class="card shadow-2-strong"> <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3 ripple-surface-light" data-mdb-ripple-color="light" style="margin-top: -15px;"> <img src="https://images.unsplash.com/photo-1563306206-900cc99112fc?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5NjI0M3wwfDF8c2VhcmNofDEwfHxjaGVycnklMjBibG9zc29tfGVufDB8fHx8MTY1MzAxNjE5OA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080" class="img-fluid" alt="" aria-controls="#picker-editor" draggable="false" style="overflow: hidden; border-radius: 1rem;"> </div> <div class="card-body"> <h5 class="card-title">The Meaning of Photography<br></h5> <p class="card-text">"Photography means something to me. What does it mean to you?" - Peter McKinnon<br></p> <a href="https://www.petermckinnon.com/" class="btn btn-outline-black btn-rounded" aria-controls="#picker-editor" draggable="false" style="min-width: auto;">Read more</a> </div> </div> </div> </div> </section></section><!----></div></div></div>

  <!-- End your project here-->

  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</div>

<div class="row">
  <h2 id="featured-items">Recently Viewed Items</h2>
  <p></p>
  {{#grouped_each 3 recentlyViewed}}
    <div class="row">
        {{#each this}}
        <form action="/cart" method="post" class="col-sm-4 item">
            <input type="hidden" name="addProduct" value="true">
            <input type="hidden" name="name" value="{{this.name}}">
            <div class="card" style="width: 18rem;">
                {{#if this.image}}
                <img class="card-img-top" src={{this.image}} alt="Card image cap" onerror="this.src= 'images/logo_wide_white.png'">
                {{/if}}
                {{#else}}
                <img class="card-img-top" src="images/logo_wide_white.png" alt="Card image cap">
                {{/else}}
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                </div>
            </div>
        </form>
        {{/each}}
    </div>
    {{/grouped_each}}

