{{#if alertSuccess}}
<div class="alert alert-success" role="alert">
  {{alertMessage}}
</div>
{{/if}}

{{#if alertAlreadyLogged}}
<div class="alert alert-primary" role="alert">
  {{alertMessage}}
</div>
{{/if}}
<div class="hero-image">
  <div class="hero-text">
    <h1>CinemaWare</h1>
    <p>shop our newest cameras and more</p>
    <form action="/products" method="get">
      <input type="submit" class="btn btn-dark" id="shop-now" value="shop now">
    </form>
  </div>
</div>
<div class="row">
  <h2 id="featured-items">Featured Items</h2>
  <p></p>
  {{#grouped_each 3 recentlyViewed}}
    <div class="row">
        {{#each this}}
        <form action="/cart" method="post" class="col-sm-4 item">
            <input type="hidden" name="addProduct" value="true">
            <input type="hidden" name="name" value="{{this.name}}">
            <div class="card" style="width: 18rem;">
                {{#if this.image}}
                <img class="card-img-top" src={{this.image}} alt="Card image cap" onerror="this.src= 'images/logo_wide_white.png'">
                {{/if}}
                {{#else}}
                <img class="card-img-top" src="images/logo_wide_white.png" alt="Card image cap">
                {{/else}}
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <button type="submit" class="btn btn-success">Add to Cart</button>
                </div>
            </div>
        </form>
        {{/each}}
    </div>
    {{/grouped_each}}

