<body>
    {{#grouped_each 3 products}}
    <div class="row">
        {{#each this}}
        <form action="/cart" method="post" class="col-sm-4 item">
            <input type="hidden" name="addProduct" value="true">
            <input type="hidden" name="name" value="{{this.name}}">
            <input type="hidden" name="type" value="{{this.type}}">
            <input type="hidden" name="price" value="{{this.price}}">
            <div class="card" style="width: 18rem;">
                <p>product type: {{this.type}}</p>
                <img class="card-img-top" src="images/logo_wide_white.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.price}}</p>
                    <input type="submit" value="Add to Cart" class="btn btn-primary">
                </div>
            </div>
        </form>
        {{/each}}
    </div>
    {{/grouped_each}}

    <form action="/products" method="post" role ="form" enctype="application/x-www-form-urlencoded">
        <legend>Enter Product info</legend>

        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="type">type:</label><br>
        <input type="text" id="type" name="type"><br>

        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>