<body>
    {{#grouped_each 3 products}}
    <div class="row">
        {{#each this}}
        <form action="/cart" method="post" class="col-sm-4 item">
            <input type="hidden" name="addProduct" value="true">
            <input type="hidden" name="name" value="{{this.name}}">
            <input type="hidden" name="type" value="{{this.type}}">
            <input type="hidden" name="price" value="{{this.price}}">
            <div class="card" style="width: 18rem;">
                <p>product type: {{this.type}} product id: {{this.id}}</p>
                {{#if this.image}}
                <img class="card-img-top" src={{this.image}} alt="Card image cap" onerror="this.src= 'images/logo_wide_white.png'">
                {{/if}}
                {{#else}}
                <img class="card-img-top" src="images/logo_wide_white.png" alt="Card image cap">
                {{/else}}
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">${{this.price}}</p>
                    <div class="btn-group mr-2" role="group" aria-label="groupedbutton">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-whatever="{{this.id}}">
                            Update
                        </button>
                        <button type="submit" class="btn btn-secondary">Add to Cart</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">
                           Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>
        {{/each}}
    </div>
    {{/grouped_each}}

<!-- Update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel" style="color: #151414" >Update Product ID: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: #151414">
        <!-- Form for update goes here -->
        <form action="/products" method="put" role="form" enctype="application/x-www-form-urlencoded">
            <legend class="darktxt">Enter Product info</legend>
            
            <label class="darktxt" for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>

            <label class="darktxt" for="type">type:</label><br>
            <input type="text" id="type" name="type"><br>

            <label class="darktxt" for="price">Price:</label><br>
            <input type="text" id="price" name="price"><br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    <form action="/products" method="post" role ="form" enctype="application/x-www-form-urlencoded">
        <legend class="darktxt">Enter Product info</legend>

        <label class="darktxt" for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label class="darktxt" for="type">type:</label><br>
        <input type="text" id="type" name="type"><br>

        <label class="darktxt" for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>