<div class="alert alert-success" role="alert">
    {{alertMessage}}
    {{message}}
</div>

<body style="text-align:center; color:#EAEAEA; background-color: #151414">
    {{name}}<br>
    {{category}}<br>
    {{price}}<br>
    <img src="https://images.pexels.com/photos/243757/pexels-photo-243757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="300" width="500">
</body>

